# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
file = "cities.csv"

In [6]:
df = pd.read_csv(file)

In [7]:
gmaps_df = pd.DataFrame(df)

In [8]:
gmaps_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
locations = gmaps_df[["Lat", "Lng"]]

In [7]:
humidity = gmaps_df["Humidity"].astype(float)

In [8]:
fig = gmaps.figure()

In [9]:
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=10,
                                point_radius=1)



fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [39]:
new_gmaps_df = pd.DataFrame(gmaps_df)

In [40]:
new_gmaps_df = new_gmaps_df.dropna(how='any', axis=0)

In [41]:
new_gmaps_df = new_gmaps_df[(new_gmaps_df["Max Temp"] > 85)]   



new_gmaps_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08
39,39,mayor pablo lagerenza,43,PY,1558378761,33,-19.93,-60.77,91.86,14.90
47,47,port elizabeth,20,US,1558378762,46,39.31,-74.98,93.00,12.75
53,53,cabo san lucas,5,MX,1558378605,34,22.89,-109.91,91.00,11.41
73,73,virginia beach,40,US,1558378597,48,36.85,-75.98,91.00,10.29
76,76,pontes e lacerda,41,BR,1558378768,41,-15.23,-59.33,88.44,3.71
82,82,sur,66,OM,1558378769,57,22.57,59.53,88.26,14.83
83,83,araouane,77,ML,1558378769,18,18.90,-3.53,100.14,15.10
89,89,ternate,20,PH,1558378770,74,14.29,120.72,86.00,1.12
90,90,tarauaca,48,BR,1558378771,47,-8.16,-70.77,90.06,1.43
108,108,bonthe,63,SL,1558378774,70,7.53,-12.50,85.38,9.78
109,109,bara,45,NG,1558378774,25,10.41,10.60,96.54,4.99
111,111,port blair,99,IN,1558378774,71,11.67,92.75,85.20,7.18
113,113,thinadhoo,100,MV,1558378775,76,0.53,72.93,85.02,17.00
130,130,cravo norte,100,CO,1558378778,67,6.30,-70.20,85.02,3.09
133,133,adrar,40,DZ,1558378779,17,27.87,-0.29,89.60,28.86
142,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36
147,147,nagua,75,DO,1558378782,70,19.37,-69.85,89.60,6.93
148,148,ibra,100,OM,1558378782,41,22.69,58.55,87.18,17.40
151,151,coahuayana,1,MX,1558378783,22,18.62,-100.35,100.50,4.38
157,157,charlestown,1,US,1558378784,64,41.38,-71.64,87.01,12.75
158,158,trat,93,TH,1558378784,70,12.25,102.51,91.00,1.88
161,161,sao joao da barra,40,BR,1558378785,55,-21.64,-41.05,86.00,3.36
170,170,teya,75,MX,1558378786,39,21.05,-89.07,99.00,16.11
174,174,la esperanza,75,HN,1558378787,62,14.31,-88.18,87.80,4.70
180,180,le marin,75,MQ,1558378788,62,14.47,-60.87,87.80,19.46
200,200,lazaro cardenas,75,MX,1558378792,14,28.39,-105.62,88.00,21.92
208,208,san rafael del sur,40,NI,1558378793,49,11.85,-86.44,91.40,13.87
218,218,salalah,20,OM,1558378796,74,17.01,54.10,86.00,10.29
227,227,tabas,100,IR,1558378798,18,33.60,56.92,89.60,9.17
...,...,...,...,...,...,...,...,...,...,...
330,330,biltine,93,TD,1558378853,13,14.53,20.93,101.76,6.87
332,332,morant bay,20,JM,1558378853,62,17.88,-76.41,86.00,23.04
336,336,thayetmyo,81,MM,1558378854,61,19.32,95.18,88.26,7.07
342,342,road town,40,VG,1558378828,66,18.42,-64.62,86.00,9.17
348,348,avera,40,US,1558378856,40,33.19,-82.53,91.40,9.17
375,375,ocean city,40,US,1558378788,66,30.44,-86.61,93.00,13.87
379,379,auki,83,NG,1558378862,26,12.18,6.51,98.88,6.08
403,403,wawa,90,NG,1558378872,38,9.90,4.41,94.92,4.88
404,404,manama,0,AE,1558378872,52,25.33,56.02,91.40,14.99
408,408,boquira,20,BR,1558378872,40,-12.82,-42.73,88.62,5.10
409,409,bathsheba,20,BB,1558378792,58,13.22,-59.52,86.00,18.34
416,416,kirkuk,0,IQ,1558378874,16,35.47,44.40,86.82,7.36
424,424,arenapolis,27,BR,1558378876,34,-14.45,-56.85,89.52,3.94
432,432,macau,70,BR,1558378878,65,-5.11,-36.64,86.10,13.85
454,454,altagracia de orituco,96,VE,1558378882,33,9.86,-66.38,89.52,5.26
456,456,nome,40,US,1558378882,62,30.04,-94.42,87.80,12.75
460,460,manuk mangkaw,99,PH,1558378883,68,4.80,119.85,86.10,5.57
461,461,prainha,100,BR,1558378652,69,-1.80,-53.48,86.10,4.14
467,467,los teques,40,VE,1558378674,66,10.35,-67.04,87.01,3.36
475,475,oranjestad,20,AW,1558378652,62,12.52,-70.03,87.80,25.28
487,487,pinotepa de don luis,21,MX,1558378888,37,16.43,-97.98,95.10,7.47
497,497,havelock,1,US,1558378595,51,34.88,-76.90,88.00,12.75
499,499,champoton,20,MX,1558378890,39,19.35,-90.72,95.00,11.41
502,502,chauk,67,MM,1558378891,41,20.89,94.82,91.50,5.55
504,504,tutoia,75,BR,1558378891,79,-2.76,-42.27,86.00,6.93
510,510,atar,1,MR,1558378892,12,20.52,-13.05,95.00,9.17
512,512,natchez,1,US,1558378892,74,31.56,-91.40,87.01,6.93
515,515,madaoua,71,NE,1558378892,18,14.07,5.96,104.10,3.36
525,525,mecca,1,SA,1558378872,48,21.43,39.83,88.62,1.74
537,537,matam,1,SN,1558378897,14,15.66,-13.26,102.12,11.61

In [42]:
new_gmaps_df = new_gmaps_df[(new_gmaps_df["Wind Speed"] < 10)]


new_gmaps_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08
76,76,pontes e lacerda,41,BR,1558378768,41,-15.23,-59.33,88.44,3.71
89,89,ternate,20,PH,1558378770,74,14.29,120.72,86.00,1.12
90,90,tarauaca,48,BR,1558378771,47,-8.16,-70.77,90.06,1.43
108,108,bonthe,63,SL,1558378774,70,7.53,-12.50,85.38,9.78
109,109,bara,45,NG,1558378774,25,10.41,10.60,96.54,4.99
111,111,port blair,99,IN,1558378774,71,11.67,92.75,85.20,7.18
130,130,cravo norte,100,CO,1558378778,67,6.30,-70.20,85.02,3.09
142,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36
147,147,nagua,75,DO,1558378782,70,19.37,-69.85,89.60,6.93
151,151,coahuayana,1,MX,1558378783,22,18.62,-100.35,100.50,4.38
158,158,trat,93,TH,1558378784,70,12.25,102.51,91.00,1.88
161,161,sao joao da barra,40,BR,1558378785,55,-21.64,-41.05,86.00,3.36
174,174,la esperanza,75,HN,1558378787,62,14.31,-88.18,87.80,4.70
227,227,tabas,100,IR,1558378798,18,33.60,56.92,89.60,9.17
244,244,pasni,0,PK,1558378823,52,25.26,63.48,86.82,9.17
247,247,puerto escondido,5,MX,1558378824,66,15.86,-97.07,86.00,9.17
256,256,cobija,75,BR,1558378828,55,-11.02,-68.77,89.60,3.36
267,267,zaraza,97,VE,1558378836,22,9.35,-65.33,101.04,8.61
291,291,florida,40,CU,1558378581,52,21.53,-78.23,87.80,5.82
306,306,chunhuhub,5,MX,1558378846,35,19.59,-88.59,96.72,7.02
308,308,nioro,76,GM,1558378846,15,13.79,-15.05,101.40,6.02
320,320,banfora,77,BF,1558378849,56,10.64,-4.75,91.14,4.70
321,321,mandera,69,ET,1558378731,47,3.94,41.86,87.18,8.03
325,325,edd,50,ER,1558378850,49,13.93,41.69,93.30,9.69
330,330,biltine,93,TD,1558378853,13,14.53,20.93,101.76,6.87
336,336,thayetmyo,81,MM,1558378854,61,19.32,95.18,88.26,7.07
342,342,road town,40,VG,1558378828,66,18.42,-64.62,86.00,9.17
348,348,avera,40,US,1558378856,40,33.19,-82.53,91.40,9.17
379,379,auki,83,NG,1558378862,26,12.18,6.51,98.88,6.08
403,403,wawa,90,NG,1558378872,38,9.90,4.41,94.92,4.88
408,408,boquira,20,BR,1558378872,40,-12.82,-42.73,88.62,5.10
416,416,kirkuk,0,IQ,1558378874,16,35.47,44.40,86.82,7.36
424,424,arenapolis,27,BR,1558378876,34,-14.45,-56.85,89.52,3.94
454,454,altagracia de orituco,96,VE,1558378882,33,9.86,-66.38,89.52,5.26
460,460,manuk mangkaw,99,PH,1558378883,68,4.80,119.85,86.10,5.57
461,461,prainha,100,BR,1558378652,69,-1.80,-53.48,86.10,4.14
467,467,los teques,40,VE,1558378674,66,10.35,-67.04,87.01,3.36
487,487,pinotepa de don luis,21,MX,1558378888,37,16.43,-97.98,95.10,7.47
502,502,chauk,67,MM,1558378891,41,20.89,94.82,91.50,5.55
504,504,tutoia,75,BR,1558378891,79,-2.76,-42.27,86.00,6.93
510,510,atar,1,MR,1558378892,12,20.52,-13.05,95.00,9.17
512,512,natchez,1,US,1558378892,74,31.56,-91.40,87.01,6.93
515,515,madaoua,71,NE,1558378892,18,14.07,5.96,104.10,3.36
525,525,mecca,1,SA,1558378872,48,21.43,39.83,88.62,1.74

In [43]:
new_gmaps_df = new_gmaps_df[(new_gmaps_df["Cloudiness"] <= 4)]

new_gmaps_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08
142,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36
151,151,coahuayana,1,MX,1558378783,22,18.62,-100.35,100.50,4.38
244,244,pasni,0,PK,1558378823,52,25.26,63.48,86.82,9.17
416,416,kirkuk,0,IQ,1558378874,16,35.47,44.40,86.82,7.36
510,510,atar,1,MR,1558378892,12,20.52,-13.05,95.00,9.17
512,512,natchez,1,US,1558378892,74,31.56,-91.40,87.01,6.93
525,525,mecca,1,SA,1558378872,48,21.43,39.83,88.62,1.74

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df = gmaps_df.reset_index(drop=True)
hotel_df
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16,
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41,
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37,
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47,
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05,

In [13]:
params = {
 "radius": 5000,
 "types": "hotel",
 "keyword": "hotel",
 "key": g_key
}

In [19]:
# Incomplete - I had trouble finishing resolving this part.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map